#!/bin/bash

set -euo pipefail

echo "Instalación de AstroNvim..."
if [ -d "$HOME/.config/nvim" ]; then
  mv $HOME/.config/nvim $HOME/.config/nvim.bak
fi
if [ -d "$HOME/.local/share/nvim" ]; then
  mv $HOME/.local/share/nvim $HOME/.local/share/nvim.bak
fi
if [ -d "$HOME/.local/state/nvim" ]; then
  mv $HOME/.local/state/nvim $HOME/.local/state/nvim.bak
fi
if [ -d "$HOME/.cache/nvim" ]; then
  mv $HOME/.cache/nvim $HOME/.cache/nvim.bak
fi

git clone --depth 1 https://github.com/AstroNvim/template $HOME/.config/nvim
rm -rf $HOME/.config/nvim/.git
nvim --headless +"q"


