@define-color color_primary #E9008D;
@define-color color_primary_dark #930059;
@define-color color_primary_light #EB1797;
@define-color black #000000;
@define-color white #FFFFFF;
@define-color red #B3293C;
@define-color green #2EB865;


* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0px 3px;
}

window#waybar {
    background-color: @black;
    border: 3px solid @color_primary;
    color: @white;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: @black;
    border: 3px solid @color_primary;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0px;
    /* margin-left: 10px; */
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

/* window#waybar .module { */
/*     background-color: @color_primary; */
/*     color: @white; */
/* } */

#pulseaudio:hover {
    background-color: @color_primary_dark;
    transition: 0.3s ease-out;
}

#workspaces button {
    margin: 5px 1px;
    padding: 5px 5px;
    background-color: @color_primary_dark;
    color: @white;
    border-radius: 3px;
    transition: 0.3s ease-out;
}

#workspaces button:hover {
    background-color: @color_primary_light;
}

#workspaces button.focused {
    background-color: @color_primary;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    margin: 5px 0;
    color: @white;
    border-radius: 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @color_primary;
    border-radius: 20px;
}

#battery {
    background-color: @color_primary;
    color: @white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#power-profiles-daemon {
    padding-right: 15px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @color_primary;
    color: @white;
}

#memory {
    background-color: @color_primary;
}

#network {
    background-color: @color_primary;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @color_primary;
    color: @white;
}
/**/
/* #pulseaudio.muted { */
/*     background-color: #f53c3c; */
/*     color: #ffffff; */
/* } */
/**/
/* #wireplumber { */
/*     background-color: #fff0f5; */
/*     color: #000000; */
/* } */
/**/
/* #wireplumber.muted { */
/*     background-color: #f53c3c; */
/* } */
/**/
/* #custom-media { */
/*     background-color: #66cc99; */
/*     color: #2a5c45; */
/*     min-width: 100px; */
/* } */
/**/
/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */
/**/
/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */
#tray {
    background-color: @color_primary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */
/**/
/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */
/**/
#mpd {
    background-color: @color_primary;
    color: @white;
}

#mpd.disconnected {
    background-color: @red;
}

/* #mpd.stopped { */
/*     background-color: #90b1b1; */
/* } */
/**/
/* #mpd.paused { */
/*     background-color: #51a37a; */
/* } */

#custom-power {
    color: @white;
    font-size: 22px;
    padding: 0px;
    font-weight: bold;
    margin-left: 10px;
}
