@define-color color_one #38B394;
@define-color color_two #19222D;
@define-color color_three #A2D4A8;
@define-color color_four #77BE4B;
@define-color black #000000;
@define-color white #FFFFFF;
@define-color red #B3293C;
@define-color green #2EB865;

* {
    font-family: JetBrainsMono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0px 3px;
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 10px;
    margin-top: 5px;
}

.modules-left,
.modules-right {
    background-color: @color_two;
    padding: 0 5px;
}

.modules-center {
    background-color: @color_three;
    padding: 0 0 0 5px;
}

.modules-left {
    margin-right: 15px;
}

.modules-center {
    margin-left: 15px; 
    margin-right: 15px;
}

.modules-right {
    margin-left: 15px;
}

#battery,
#network,
#pulseaudio,
#cpu,
#memory {
    padding-right: 15px;
}

button:hover {
    background: @color_four;
    color: @black;
}
#workspaces button.focused {
    background-color: @color_four;
    border: none;
}

#clock {
    color: @black;
    background-color: @color_three;
    border-radius: 20px;
}

#cpu {
    color: @color_three;
}

#memory {
    color: @color_three;
}

#battery {
    color: @color_three;

}

#network {
    color: @color_three;
    transition: 0.3s ease-in-out;
}
#network.disconnected {
    color: @red;
}
#network:hover {
    color: @color_four;
}

#pulseaudio {
    color: @color_three;
    transition: 0.3s ease-in-out;
}
#pulseaudio:hover {
    color: @color_four;
}

#custom-power {
    color: @white;
    background-color: @color_two;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#custom-power:hover {
    background-color: @color_four;
    color: @black;
}
